* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.nav-bar {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  border: red solid 3px;
}
